   body {
       padding: auto;
       font-family: Arial, Helvetica, sans-serif;
       text-align: center;
       background-image: url('./img/home.png');
       display: flex;
       flex-direction: column;
   }

   .logo {
       width: 100%;
       height: 30vh;
       display: flex;
       justify-content: center;
   }


   .volta-box {
       margin-bottom: 30px;
   }

   .linha-cavalo {
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 20px;

       margin: 10px 0;
   }

   .linha-cavalo img {
       width: 100px;
   }

   .linha-cavalo p {
       font-size: 18px;
       margin: 0;
   }

   #div_msg h1 {
       font-size: 120px;
       color: white;
       margin-top: 200px;
   }

   /*estilizando a página de quantidade e rodadas*/
  .paginaRodadas {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: black;
    gap: 5px;
    padding: 20px;
    height: 400px;
}

.quantidade {
    background-color: #022a52;
    width: 700px;
    border-radius: 12px;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.quantidade input {
    width: 400px;
    color: black;
    font-size: inherit;
    text-align: center;
    border-radius: 7px;
    border: none;
    padding: 5px;
}

.btn_rodadas {
    background-color: aqua;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    margin-top: 10px;
}

#div_tela {
    display: flex;
    flex-direction: column;
    height: 600px;
}