.gif-animado {
background-image: url(./img/cavalo-branco.gif);
display: flex;
justify-content: center;
align-items: center;
height: 50%;
}

.image {
  width: 100%; 
  overflow: hidden;
}

.image img {
  max-width: 100%; 
  height: auto;    
  display: block;  
}

